<template>
  <div>
    <div id="mountGraph"></div>
  </div>
</template>

<script>
import G6 from "@antv/g6";
import g6Options from "./g6-options.json";

export default {
  data() {
    return {
      graph: null
    };
  },
  mounted() {
    this.graph = new G6.Graph({
      container: "mountGraph",
      width: 800,
      height: 500,
    });
    this.graph.data(g6Options);
    this.graph.render();
  },
};
</script>

<style scoped></style>
